.web-message-wrapper {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.actions {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-bottom: 14px;
}