$nav-bar-width: 80px;
$footer-height: 64px;

$mobile-break-point: 600px;
$tablet-break-point: 1367px;
$widest-content: 1600px;

$color-alacrity: #F1960D;

// Dark Theme
$color-bg-main-d: #0e0e0e;
$color-f-main-d: #F8F8F8;
$color-f-diminished-d: #666;
// $color-bg-nav-bar-d: #2C2C2C;
$color-bg-nav-bar-d: #0a0a0a;
$color-bg-content-d: #2C2C2C;
$color-alt-background-d: #2228;
$color-highlight-background: #4448;
$color-bg-glassy-d: #2C2C2C88;
$color-subtle-d: #3e3e3e;
$color-scroll-d: #2b2b2b;
$color-nav-d: #757575;

$color-icon-d: #F8F8F8;
$color-win-d: #15aa2e;
$color-lose-d: #bc2623;

$basic-border-d: 2px solid #FFFFFF22;
