.table-wrapper {}

.table {
  // Hack to prevent border bug
  width: calc(100% - 3px);
  position: relative;
  left: 1px;

  text-align: left;
  border-collapse: collapse;

  th {
    padding: 8px 16px;
    border: 0;
    font-weight: bold;
    user-select: none;
  }

  tbody {
    border-bottom: 2px solid var(--color-alacrity);

    font-variation-settings: "wght" 300;

    tr:nth-child(odd) {
      background: var(--color-alt-background);
    }

    tr:focus,
    tr:hover {
      background: var(--color-highlight-background);
    }
  }

  td {
    padding: 10px 16px;
  }
}

.empty {
  text-align: center;
  padding: 40px;
}